<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Programming, surfing and travel.">
  <title>Will3942 ~ Blog</title>
  <%= css :application %>
  <script>
    !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    insertBefore(d,q)}(window,document,'script','_gs');
    
    _gs('GSN-976668-V');
  </script>
</head>
<body>
  <div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
      <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="http://twitter.com/will3942">Will Evans</a>

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>

    <div id="main">
      <div class="header">
        <a href="/about"><h1>About</h1></a>
        <h2></h2>
      </div>

      <div class="content">
        <%= GitHub::Markup.render(@filepath + ".md",@contents.join("\n")).to_s %>
      </div>
    </div>
  </div>
  <%= js :application %>
</body>
</html>