<!DOCTYPE html>
<html lang="en">
<head>
  <title>Will Evans</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Not just another WordPress site." />
  <meta name="keywords" content="will evans, willevans, will, evans" />
  <meta name="author" content="metatags generator">
  <meta name="robots" content="index, follow">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
  <div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
      <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/">Will Evans</a>

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="http://twitter.com/will3942">Twitter</a></li>
          <li><a href="http://github.com/will3942">GitHub</a></li>
          <li><a href="/resume.pdf">Résumé</a></li>
        </ul>
      </div>
    </div>

    <div id="main">
      {{#posts}}

        <div class="header">
          <a href="/{{slug}}"><h1>{{title}}</h1></a>
          <h2>{{date}}</h2>
        </div>

        <div class="content">
          {{description}}
        </div>
      {{/posts}}
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
	  (function (window, document) {

	    var layout   = document.getElementById('layout'),
	        menu     = document.getElementById('menu'),
	        menuLink = document.getElementById('menuLink');

	    function toggleClass(element, className) {
	        var classes = element.className.split(/\s+/),
	            length = classes.length,
	            i = 0;

	        for(; i < length; i++) {
	          if (classes[i] === className) {
	            classes.splice(i, 1);
	            break;
	          }
	        }
	        // The className is not found
	        if (length === classes.length) {
	            classes.push(className);
	        }

	        element.className = classes.join(' ');
	    }

	    menuLink.onclick = function (e) {
	        var active = 'active';

	        e.preventDefault();
	        toggleClass(layout, active);
	        toggleClass(menu, active);
	        toggleClass(menuLink, active);
	    };

		}(this, this.document));
	</script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69475528-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
